.accordion-button.collapsed .accordion-header-image{
        width: 50px;
        display: inline;
}

.accordion-button:not(.collapsed) .accordion-header-image {
    display: none; 
}

.accordion-body-image {
    max-width: 250px;
    width: 100%;
}

i {
    padding: 10px;
    color: #333;
}